@charset "UTF-8";

:root {
    --dashGreen: #34CFA8;
    --dashBlue: #031788;
    --pennBlue: #0a1045;
    --cerulean: #227c9d;
    --darkBrown: #363020;
    --backgroundSensor: #BFDBFE;
    --scannerSensor: #0BEDF3;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    width: 100vw;
    height: 100vh;
    background-color: var(--cerulean)
}

body {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

nav,
header,
main,
footer {
    width: 100vw;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--dashGreen);
}

a:visited {
    /* color: #bc70ff; */
    color: var(--dashGreen);
}

h2 {
    text-align: center;
    /* font-size: 2rem; */
}

section {
    padding: 20px;
}

/* ######################## CLASSE CARTÃO ######################## */

.cartao {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.cartao h3 {
    color: var(--scannerSensor);
    font-size: 1.5em;
}

.cartao h4 {
    color: var(--cerulean);
    font-size: 1.2em;
}

.cartao div {
    padding-left: 1em;
}

.cartao ul {
    padding-left: 2em;
}

/* ############################ MENU ############################# */
nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 10px 0;
    background: var(--dashBlue);
    color: white !important;
}

nav div {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

nav a.menu {
    color: #fff;
}

nav a:hover.menu {
    color: var(--dashGreen);
}

div#logo-empresa {
    flex-direction: column;
}

div#menu ul {
    list-style: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
}

div#menu ul li {
    padding: 10px;
}

/* ######################## CABEÇALHO ######################## */

header {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(../imagens/background2_semi-transparente.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bolder;
}

header h1 {
    font-size: 5vw;
    /* font-size: 3em; */
    color: var(--dashBlue);
    margin: 0 1em;
    padding-bottom: .5em;
}

header h2 {
    font-size: 3vw;
    /* font-size: 1.5em; */
    color: var(--pennBlue);
    margin: 0 2em;
}

/* ######################## SOLUÇÕES ######################## */

section#solucoes {
    background-color: var(--pennBlue);
    color: white;
}

section#solucoes h2 {
    color: var(--dashGreen);
    font-size: 3em;
}

/* ######################## MATERIAIS ######################## */

section#materiais {
    background-color: var(--dashGreen);
}

section#materiais h2 {
    color: var(--cerulean);
    font-size: 3em;
}

section#materiais h3 {
    color: var(--backgroundSensor);
    font-size: 2em;
}

section#materiais p {
    color: white;
    font-size: 1.2em;
}

/* ######################## SENSOR ######################## */

section#sensor {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    /* esconde o menu superior */
    height: 100vh;
    /* height: 93vh; 93% da view port: a imagem ocupa toda a tela mas sem aparecer a barra de rolagem */
    padding: 10px;
    /* background-color: rgba(0, 0, 0, 0.2); */
    background-color: var(--backgroundSensor);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.443);
    background-image: url(../imagens/sensor-vibracao.png);
    /* background-size: contain; */
    /* background-size: cover; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

section#sensor div {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

section#sensor h3 {
    color: var(--backgroundSensor);
    text-align: center;
    padding: 10px;
    font-size: 3em;
}

section#sensor p {
    color: rgba(255, 248, 220, 0.85);
    font-size: 2em;
    padding: 8px;
}

/* ######################## PLANILHAS ######################## */

section#planilhas {
    background-color: var(--pennBlue);
    color: white;

    
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative; */

    /* esconde o menu superior */
    /* height: 100vh; */
    /* height: 93vh; 93% da view port: a imagem ocupa toda a tela mas sem aparecer a barra de rolagem */
    /* padding: 10px; */
    /* background-color: rgba(0, 0, 0, 0.2); */
    /* background-color: var(--backgroundSensor); */
    /* color: white; */
    /* box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.443); */
    /* background-image: url(../imagens/planilha-digital_v2.avif); */
    /* background-size: contain; */
    /* background-size: cover; */
    /* background-size: 100% 100%; */
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    /* background-attachment: fixed; */
}

section#planilhas h2 {
    color: var(--dashGreen);
    font-size: 3em;
}

section#planilhas h3 {
    /* color: var(--cerulean); */
    color: rgba(255, 248, 220, 0.85) !important;
    font-size: 2em;
}

section#planilhas h4 {
    color: var(--scannerSensor) !important;
    font-size: 1.5em;
}

section#planilhas figure {
    margin: 0 3em;;
}

/* ######################## GALERIA ######################## */

section#galeria {
    background-color: var(--dashGreen);
}

/* ######################## RODAPÉ ######################## */

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: var(--pennBlue);
    padding: 15px 0;
    color: white;
}

footer div#contato {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: baseline;
}

footer a {
    color: var(--dashGreen);
}

div#contato h3 {
    text-align: center;
    padding-bottom: 10px;
}

div#contato ul {
    list-style: none;
}

section#redes-sociais {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.539);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.581);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.598);
    transition: transform .4s, border .7s;
}

/* ######################## GALERIA ######################## */

ul#album-fotos {
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
    /* display: table-footer-group; */
}

ul#album-fotos li {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid white;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    transition: all 0.35s ease-out;
}

ul#album-fotos li:hover {
    transform: scale(1.5);
}

ul#album-fotos li span {
    opacity: 0;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 9pt;
    line-height: 370px;
    padding: 5px;
}

ul#album-fotos li:hover span {
    opacity: 1;
}




ul#album-fotos li#foto01 {
    background: url('../imagens/eng01.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
    border-radius: 5%;
}

ul#album-fotos li#foto01:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto02 {
    background: url('../imagens/eng02.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
    border-radius: 5%;
}

ul#album-fotos li#foto02:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto03 {
    background: url('../imagens/eng03.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
    border-radius: 5%;
}

ul#album-fotos li#foto03:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto04 {
    background: url('../imagens/eng04.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
    border-radius: 5%;
}

ul#album-fotos li#foto04:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto05 {
    background: url('../imagens/eng05.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
    border-radius: 5%;
}

ul#album-fotos li#foto05:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto06 {
    background: url('../imagens/eng06.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
    border-radius: 5%;
}

ul#album-fotos li#foto06:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto07 {
    background: url('../imagens/eng07.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
    border-radius: 5%;
}

ul#album-fotos li#foto07:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto08 {
    background: url('../imagens/eng08.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
    border-radius: 5%;
}

ul#album-fotos li#foto08:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto09 {
    background: url('../imagens/eng09.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
    border-radius: 5%;
}

ul#album-fotos li#foto09:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto10 {
    background: url('../imagens/eng10.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
    border-radius: 5%;
}

ul#album-fotos li#foto10:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto11 {
    background: url('../imagens/eng11.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
    border-radius: 5%;
}

ul#album-fotos li#foto11:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto12 {
    background: url('../imagens/eng12.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
    border-radius: 5%;
}

ul#album-fotos li#foto12:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto13 {
    background: url('../imagens/eng13.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
    border-radius: 5%;
}

ul#album-fotos li#foto13:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto14 {
    background: url('../imagens/eng14.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
    border-radius: 5%;
}

ul#album-fotos li#foto14:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto15 {
    background: url('../imagens/eng15.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
    border-radius: 5%;
}

ul#album-fotos li#foto15:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}