@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@font-face { /*importando fonte em arquivo local*/
    font-family: 'Bebas Neue';
    src: url('fontes/BebasNeue-Regular.ttf');
}
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root { /*essa pseudo-classe aplica CSS a todo o documento*/    
    --cor1: #85D085;
    --cor2: #5EA35E;
    --cor3: #2F882F;
    --cor4: #0B6D0B;
    --cor5: #005300;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-Serif;
    --fonte-especial: 'Pacifico', cursive;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', monospace;
}

* { /*aplica as propriedades para todos os elementos*/
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}

header {
    background-color: var(--cor4);
}
header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
}
header > p {
    color: white;
}

nav {
    background-color: var(--cor5);
}

main {
    background-color: white;
    padding: 20px;
    min-width: 280px; /*considera a menor largura de tela de celular*/
    max-width: 1000px; /*não permite expandir demais o conteúdo em telas muito grandes*/
    margin: auto; /*melhora a responsividade, sempre centralizando o conteúdo*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 30px;
}
main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
}
main h2 {
    font-family: var(--fonte-android);
}
main img {
    width: 100%; /*melhora a responsividade, eliminando a barra de rolagem lateral, pois a imagem se ajusta de acordo com a largura*/
}
main img.pequena {
    width: 50%; /*não recomendável, pois o melhor seria diminuir o tamanho da imagem, economizando tráfego de dados*/
    display: block;/*essa propriedade é necessária antes de 'margin:auto' porque uma imagem, por padrão, não é um bloco*/
    margin: auto;
}

footer {
    background-color: var(--cor5);
    color: white;
}