@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@font-face { /*importando fonte em arquivo local*/
    font-family: 'Bebas Neue';
    src: url('fontes/BebasNeue-Regular.ttf');
}
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root { /*essa pseudo-classe aplica CSS a todo o documento*/
    --cor1: #85D085;
    --cor2: #5EA35E;
    --cor3: #2F882F;
    --cor4: #0B6D0B;
    --cor5: #005300;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-Serif;
    --fonte-especial: 'Pacifico', cursive;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', monospace;
}

* { /*aplica as propriedades para todos os elementos*/
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}
header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
}
header > p {
    color: white;
    font-size: 1.5em;
    font-family: var(--fonte-padrao);
    max-width: 500px; /*ao configurar a largura, o parágrafo automaticamente vira um bloco*/
    margin: auto;
    padding: 0px 10px;
}

nav {
    background-color: var(--cor5);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 1em;
}
nav >a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
    border-radius: 50%;
}
nav a:hover {
    background-color: var(--cor2);
    color: var(--cor5);
}
main {
    background-color: white;
    padding: 20px;
    min-width: 280px; /*considera a menor largura de tela de celular*/
    max-width: 1000px; /*não permite expandir demais o conteúdo em telas muito grandes*/
    margin: auto; /*melhora a responsividade, sempre centralizando o conteúdo*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 30px;
}
main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}
main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 2em;
    font-weight: normal;
}
main img {
    width: 100%; /*melhora a responsividade, eliminando a barra de rolagem lateral, pois a imagem se ajusta de acordo com a largura*/
    border-radius: 10px;
}
main img.pequena {
    /* width: 50%; não recomendável, pois o melhor seria diminuir o tamanho da imagem, economizando tráfego de dados */
    max-width: 350px; /*trava o tamanho máximo da imagem*/
    display: block;/*essa propriedade é necessária antes de 'margin:auto' porque uma imagem, por padrão, não é um bloco*/
    margin: auto;
}
main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 2em;
    font-size: 1em;
    line-height: 2em;/*aumenta o espaçamento entre linhas*/
}
main strong {
    color: var(--cor4);
}
main a {
    text-decoration: none;
    color: var(--cor5);
    font-weight: bold;
    background-color: var(--cor1);
    padding: 6px 6px;
    border-radius: 50%;
}
main a:hover {
    text-decoration: underline;
    color: var(--cor3);
}

div.video {
    position: relative;
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.25%; /*para vídeos com formato 16:9, vídeos 4:3 seria 75%, É só dividir a altura pela largura e multiplicar por 100*/
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 10px;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
aside ul {
    columns: 2;
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0' /*O '00A0' coloca um espaçamento, código do markcheck encontrado no emotepedia*/;
}
aside h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    font-family: var(--fonte-especial);
    font-weight: normal;
    font-size: 1.5em;
}

footer {
    background-color: var(--cor5);
    text-align: center;
    color: white;
    font-size: 0.8em;
    padding: 5px;
}
footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
footer a:hover {
    text-decoration: underline;
    color: #81ff81;
}

a.externo::after {
    content: '\00A0\1F517';/*código da corrente encontrado no emotepedia*/
}